
  /**Telemetry overlay Settings**/
  .overlay{
    height: 25em;
    width: 75em;
    bottom: 0px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
  }

  .overlaySection{
    width: 349px;
    height: 266px;

  }



  /** this is for the floating texts inside overlay**/
  #angle {
    color: white;
    font-size: 36px;
    line-height: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top:35%;
    z-index: 1;
  }

  #wind {
    color: white;
    font-size: 26px;
    line-height: 100%;
    left: 75%;
    transform: translate(-50%, -50%);
    position: absolute;
    top:35%;
    z-index: 1;
  }
  
  #longitude {
    color: white;
    font-size: 26px;
    line-height: 100%;
    left: 75%;
    transform: translate(-50%, -50%);
    position: absolute;
    top:40%;
    z-index: 1;
  }

  #latitude {
    color: white;
    font-size: 26px;
    line-height: 100%;
    left: 74%;
    transform: translate(-50%, -50%);
    position: absolute;
    top:45%;
    z-index: 1;
  }

  
  #speed {
    color: white;
    font-size: 36px;
    line-height: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top:35%;
    z-index: 1;
  }

  /**This area is for the speedometer graphis and animation settings **/

  .svg-container {
    position: relative;

  }

  #meter-bg-bar {
    animation: dash 4s linear forwards infinite;
    stroke-dasharray: 615;
  }
  @keyframes dash {
    0%,
    100% {
      stroke-dashoffset: 615;
    }
    25% {
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dashoffset: 307.5;
    }
    75% {
      stroke-dashoffset: 0;
    }
  }
  

  
/* Style the slider */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 400px; /* Set the width of the slider */
  height: 20px; /* Set the height of the slider */
  background: #ddd; /* Slider track color */
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 5px; /* Round the edges of the slider */
}

/* Style the slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px; /* Set the width of the thumb */
  height: 40px; /* Set the height of the thumb */
  background: rgb(255, 145, 0); /* Thumb color */
  cursor: pointer;
  border-radius: 50%; /* Round the edges of the thumb */
}

input[type="range"]::-moz-range-thumb {
  width: 40px; /* Set the width of the thumb */
  height: 40px; /* Set the height of the thumb */
  background: rgb(255, 145, 0); /* Thumb color */
  cursor: pointer;
  border-radius: 50%; /* Round the edges of the thumb */
}